body{
    background-color: #efefef;
}
.main{
    background-color: white;
    margin: 30px;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.media-object{
    width: 40px;
    height: 40px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.page-navigation{
    float: right;
}
.profile-section{
    margin-top: 20px;
}
.question-desc{
    width: 100%;
    text-align: left;
    padding: 0;
    margin-top: 5px;
    font-family: -apple-system,BlinkMacSystemFont,PingFang-SC-Regular,Hiragino Sans GB,Microsoft Yahei,Arial,sans-serif;
    font-size: 18px;
    color: #4c4e4d;
    font-weight: 400;
    word-break: normal;
    word-wrap: break-word;
    line-height: 32px;
}
.question-edit{
    color: #999;
    font-size: 14px;
}