<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>白码会所</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <!--    <link rel="stylesheet" href="css/bootstrap.min.css">-->
    <!--    <link rel="stylesheet" href="css/bootstrap-theme.min.css">-->
    <!--    <script src="js/bootstrap.min.js" type="application/javascript"></script>-->

</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="jumbotron">
    <h1>出错了~</h1>
    <p>服务太热了，要不稍后再看康康~</p>
    <p><a class="btn btn-primary btn-lg" href="/" role="button">回到首页</a></p>
</div>
</body>
</html>